* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Noto Sans KR', sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  
  a.banner {
    background: #ccc;
    width: 820px;
    height: 312px;
    font-family: 'Noto Sans KR', sans-serif;
    background-image: 
      url('images/./main.gif');
    background-position: 0 0, right top;  
    background-repeat: no-repeat;
    background-size: contain, cover;
    position: absolute;
  }
  
  .logo {
    position: absolute;
    right:600x;
    width: 45px;
    height: 45px;
  }
  
  .btn {
    position: absolute;
    left: 338px;
    top: 260px;
    width: 125px;
    height: 40px;
    background: rgb(22, 112, 197,30%);
    color: #fff;
    font-size: 14px;
    animation-name: btn;
    animation-duration: 3s;
    border: #fff;
  }
  
  @keyframes btn{
    0%{
       margin-left: 338px;
    }
    10%{   
    }
    100%{

    }
  }

  .intro{
    font-size: large;
    text-align: center;
    margin-top: 208px;
    color: rgb(25, 0, 255,80%);
   animation-name: intro;
   animation-duration: 3s;
  }

  @keyframes intro{
    0%{
       
    }
    50%{
        margin-right: 338px;
    }
    100%{
        
    }
  }

